{% extends 'base.html' %}
{% block title %} Browse Jobs {% endblock %}
{% load humanize %}
{% load static %}

{% block content %}
  
  <!-- Page Content -->
  <div class="page-heading about-heading header-text" style="background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-simple-jobs-to-sum-up-business-image_20826.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>Find the best jobs for you</h4>
            <h2>Jobs</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Jobs -->
  <section id="jobs" class="py-4">
    <div class="container" >
      <div class="row">
      {% if jobs %}

          {% for job in jobs %}
            <div class="col-md-6 col-lg-4 mb-4">
              
            <div class="product-item c11" style="padding:2rem;border-radius: 20px;
            background: #ffffff;
            box-shadow:  23px 23px 47px #bdbdbd,
                         -23px -23px 47px #ffffff;
                         
                         
                         overflow :hidden;
      white-space: nowrap;
      
      text-overflow: ellipsis;" >
              <a href="{% url 'job' job.id %}"><img style="height:12rem;width:18rem;" src="{{ job.main_image.url }}" alt=""></a>
              <div class="down-content">
                <a href="{% url 'job' job.id %}"><h4> {{job.title}}</h4></a>

                <h6>${{job.salary | intcomma}}</h6>

                <h4><small><i class="fa fa-briefcase"></i> {{job.role}} <br> <strong><i class="fa fa-building"></i>
                {{job.company}}</strong></small></h4>

                <small>
                     <strong title="Posted on"><i class="fa fa-calendar"></i> Apply by {{job.deadline | date:"F d Y" }}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <br>
                     <strong title="Type"><i class="fa fa-file"></i> {{job.contract}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <br>
                     <strong title="Location"><i class="fa fa-map-marker"></i> {{job.location}}</strong>
                </small>
              </div>
            </div>
          </div>
          {% endfor %}

        {% else %}
          <div class="col-md-12">
            <p>No jobs found!</p>
          </div>
        {% endif %}

        <!-- Pagination --> 
        <div class="row">
          <div class="col-md-12">

            <!-- Check if job has other pages -->
            {% if jobs.has_other_pages %}
              <ul class="pagination">

                <!-- Check if  PREVIOUS pages -->
                {% if jobs.has_previous %}
                  <li class="page-item">
                    <a href="?page={{jobs.previous_page_number}}" class="page-link">&laquo;
                    </a>
                {% else %}
                    <li class="page-item disabled">
                      <a class="page-link">&laquo;
                      </a>
                  </li>
                {% endif %}

                <!-- Loop through page range -->
                {% for i in jobs.paginator.page_range %}
                  {% if jobs.number == i %}
                    <li class="page-item active">
                      <a class="page-link">{{i}}</a>
                    </li>
                  {% else %}
                    <li class="page-item">
                      <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
                  {% endif %}
                {% endfor %}
                <!-- Check if listing has NEXT pages -->
                {% if jobs.has_next %}
                  <li class="page-item">
                    <a href="?page={{jobs.next_page_number}}" class="page-link">&raquo;
                    </a>
                {% else %}
                    <li class="page-item disabled">
                      <a class="page-link">&raquo;
                      </a>
                  </li>
                {% endif %}
              </ul>
            {% endif %}

          </div>
        </div> 
    </div>
  </div>
  </section>

{% endblock %}